.password-toggle {
        position: absolute;
        transform: translate(-160%, 65%);
        cursor: pointer;
}

.password-toggle i {
        font-size: 20px;
        color: #333;
}

.password-toggle:hover i {
        color: #0056b3;
}